@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        @apply text-16pc font-normal scroll-smooth;
        text-rendering: optimizeSpeed;
    }

    body {
        @apply text-white bg-white overflow-x-hidden;
    }
}

@layer components {
    .sub-title {
        @apply uppercase text-16pc font-bold tracking-[0.8px] text-nau-nhat;
    }

    .title60 {
        @apply capitalize leading-[1.3] text-56pc font-extrabold -tracking-[1.8px];
    }

    .title56 {
        @apply capitalize leading-[1.3] text-56pc font-extrabold -tracking-[1.68px];
    }

    .title18-700-130 {
        @apply text-18pc font-bold leading-[1.3];
    }

    .title18-400-150 {
        @apply text-18pc font-normal leading-[1.5];
    }

    .title16-600-130 {
        @apply text-16pc font-semibold leading-[1.3];
    }

    .title16-400-150 {
        @apply text-16pc font-normal leading-[1.5];
    }

    .title14-400-150 {
        @apply text-14pc font-normal leading-[1.5];
    }

    .title10-600-150 {
        @apply text-10pc font-semibold leading-[1.5];
    }

    .px-120 {
        @apply px-[4.375vw];
    }
}
